/* Custom styles for the component */
.navbar-brand {
  font-weight: bold;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-text {
  margin-bottom: 20px;
}

.results-section .badge {
  margin-right: 5px;
  font-size: 1em;
}

.card {
  background-color: transparent;
  box-shadow: none;
}

.example-full-width {
  width: 50%;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
.loding {
  display: flex;
  justify-content: center;
  height: 26vh;
  align-content: center;
  flex-wrap: wrap;

}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: #5227af6e;
}
